body {
  position: relative;
  padding-top:40px;
  padding-bottom:150px;
  background:#FFF;
}
.btn-primary {color:#FFF !important;}
.jumbotron {background:#EEE;}
p {margin:20px 0px;}
section {margin-bottom:30px;}
.nav-sidenav {
  width: 160px;
  margin: 0;
  margin-top:10px;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.nav-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.nav > li > a:hover, .nav > li > a:focus {color:#FF2654;background:none;}
.nav-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.nav-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.nav-sidenav > .active > a, .nav-sidenav > .active > a:hover {
  color:#FFF;
  background:#FF2654;
}